@model string
@{
    var url = $"/OAuth/Authorize{Model}";
}
<h1>Authorize Page</h1>
@Model
<br/>
<form action="@url" method="post">
    <input type="text" name="username" value="" />
    <input type="submit" value="Submit" />
</form>